<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments :: head"></th:block>
  <title>Best of the year</title>
</head>
<body>
  <header class="container">
    <a th:href="@{/}">Home</a>
  </header>

  <main class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col">
        <h1 class="display-3 fw-bolder text-center text-info mb-5">
          BEST MOVIES
        </h1>
        <div class="mx-auto w-50 mb-5">
          <img class="img-fluid" th:src="@{/movies.png}">
        </div>
        <ul class="list-group mx-auto text-center w-75">
          <li th:each="movie : ${movies}" class="list-group-item border-info">
            <a class="text-decoration-none text-dark" th:href="@{|/movies/${movie.getId()}|}" >
              [[${movie.getTitle()}]]
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>


</body>
</html>