<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title> [[${movie.getTitle()}]]</title>
</head>
<body>
    <header class="container">
        <nav th:replace="~{fragments :: navbar('movie')}"></nav>
    </header>

    <main class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col" th:object="${movie}">
                <h1 class="display-3 fw-bolder text-center text-info mb-5">
                    [[*{getTitle()}]]
                </h1>
            </div>
        </div>
    </main>

</body>
</html>