<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments :: head}"></th:block>
  <title>Best of the year</title>
</head>
<body>
  <header class="container">
    <nav th:replace="~{fragments :: navbar('song')}"></nav>
  </header>

  <main class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col">
        <h1 class="display-3 fw-bolder text-center text-info mb-5">
          BEST SONGS
        </h1>
        <div class="mx-auto w-50 mb-5">
          <img class="img-fluid" th:src="@{/songs.png}">
        </div>
        <ul class="list-group mx-auto text-center w-75">
          <li th:each="song : ${songs}" class="list-group-item border-info">
            <a class="text-decoration-none text-dark" th:href="@{|/songs/${song.getId()}|}" >
              [[${song.getTitle()}]]
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>

</body>
</html>